# Project Benson

- MTA Data: http://web.mta.info/developers/turnstile.html
- MTA Field Description: http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt
- MTA Station Key: https://docs.google.com/viewer?url=http%3A%2F%2Fweb.mta.info%2Fdevelopers%2Fresources%2Fnyct%2Fturnstile%2FRemote-Booth-Station.xls

In [415]:
import pandas as pd
import numpy as np

In [416]:
may05_2018 = pd.read_csv('turnstile_180505.txt')
may12_2018 = pd.read_csv('turnstile_180512.txt')
may19_2018 = pd.read_csv('turnstile_180519.txt')
may26_2018 = pd.read_csv('turnstile_180526.txt')
jun02_2018 = pd.read_csv('turnstile_180602.txt')
jun09_2018 = pd.read_csv('turnstile_180609.txt')
jun16_2018 = pd.read_csv('turnstile_180616.txt')

source_data = [may05_2018, may12_2018, may19_2018, 
               may26_2018, jun02_2018, jun09_2018, 
               jun16_2018]

all_converted_data = []
for i in source_data:
    converted = i 
    converted['DATE'] = pd.to_datetime(i['DATE'] + ' ' + i['TIME'])
    converted.drop('TIME', axis=1, inplace=True)
    converted.rename(columns = lambda x: x.strip(), inplace=True)   
    all_converted_data.append(converted)

df = pd.concat(all_converted_data)

In [440]:
df[(df.STATION == '59 ST') & (df.DATE == '2018-04-28 00:00:00')]

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28,REGULAR,6598847,2235829
42,A002,R051,02-00-01,59 ST,NQR456W,BMT,2018-04-28,REGULAR,5915388,1323087
84,A002,R051,02-03-00,59 ST,NQR456W,BMT,2018-04-28,REGULAR,1068517,3979779
126,A002,R051,02-03-01,59 ST,NQR456W,BMT,2018-04-28,REGULAR,672839,1046012
168,A002,R051,02-03-02,59 ST,NQR456W,BMT,2018-04-28,REGULAR,5755532,7847369
210,A002,R051,02-03-03,59 ST,NQR456W,BMT,2018-04-28,REGULAR,5354875,6250463
252,A002,R051,02-03-04,59 ST,NQR456W,BMT,2018-04-28,REGULAR,6686597,3524406
294,A002,R051,02-03-05,59 ST,NQR456W,BMT,2018-04-28,REGULAR,10762216,1354468
336,A002,R051,02-03-06,59 ST,NQR456W,BMT,2018-04-28,REGULAR,8466489,489677
378,A002,R051,02-05-00,59 ST,NQR456W,BMT,2018-04-28,REGULAR,1515,0
420,A002,R051,02-05-01,59 ST,NQR456W,BMT,2018-04-28,REGULAR,0,772
462,A002,R051,02-06-00,59 ST,NQR456W,BMT,2018-04-28,REGULAR,7472410,158829
22976,C021,R212,00-00-00,59 ST,NRW,BMT,2018-04-28,REGULAR,8138754,4279447
23018,C021,R212,00-00-01,59 ST,NRW,BMT,2018-04-28,REGULAR,7629842,5371845
23060,C021,R212,00-00-02,59 ST,NRW,BMT,2018-04-28,REGULAR,2030320579,703035820
23102,C021,R212,00-00-03,59 ST,NRW,BMT,2018-04-28,REGULAR,13211756,14114933
23144,C022,R212,01-03-00,59 ST,NRW,BMT,2018-04-28,REGULAR,1297480,402206
23186,C022,R212,01-05-00,59 ST,NRW,BMT,2018-04-28,REGULAR,262570,65536
23228,C022,R212,01-05-01,59 ST,NRW,BMT,2018-04-28,REGULAR,0,375
23270,C022,R212,01-06-00,59 ST,NRW,BMT,2018-04-28,REGULAR,5565713,4055450
23312,C022,R212,01-06-01,59 ST,NRW,BMT,2018-04-28,REGULAR,10610868,3523042
154704,R244,R050,00-00-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,36804,91708
154746,R244,R050,00-00-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,8763210,8649198
154788,R244,R050,00-00-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,2945904,1840135
154830,R244,R050,00-00-03,59 ST,456NQRW,IRT,2018-04-28,REGULAR,100179,167810
154872,R244,R050,00-00-04,59 ST,456NQRW,IRT,2018-04-28,REGULAR,549071,2837733
154914,R244,R050,00-03-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,1689858,4213578
154956,R244,R050,00-03-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,1160112,3179382
154998,R244,R050,00-03-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,2719529,5295210
155040,R244,R050,00-06-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,1941311,1300655
155082,R244,R050,00-06-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,3585572,1163633
155124,R244,R050,00-06-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,5161457,1086020
155166,R244A,R050,01-00-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,4344900,17050683
155208,R244A,R050,01-00-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,6026498,3223940
155250,R244A,R050,01-00-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,17381465,6553378
155292,R244A,R050,01-00-03,59 ST,456NQRW,IRT,2018-04-28,REGULAR,7474479,1563464
155334,R244A,R050,01-00-04,59 ST,456NQRW,IRT,2018-04-28,REGULAR,4287838,727037
155376,R244A,R050,01-06-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,7806356,9670079
155418,R244A,R050,01-06-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,4612022,2839534
155460,R245,R051,00-00-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,703864449,721662233
155502,R245,R051,00-03-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,10857373,10187148
155544,R245,R051,00-03-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,5956268,14547781
155586,R245,R051,00-03-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,1040655579,736242908
155628,R245,R051,00-03-03,59 ST,456NQRW,IRT,2018-04-28,REGULAR,6109624,12804129
155670,R245,R051,00-05-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,283974,243948
155712,R245,R051,00-05-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,12606630,5414428
155754,R245,R051,00-05-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,7117950,1348894
155796,R245A,R051,01-00-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,11473257,4026909
155838,R245A,R051,01-00-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,11717557,5937224
155880,R245A,R051,01-00-02,59 ST,456NQRW,IRT,2018-04-28,REGULAR,6181144,9483342
155922,R245A,R051,01-00-03,59 ST,456NQRW,IRT,2018-04-28,REGULAR,2467765,4825109
155964,R245A,R051,01-06-00,59 ST,456NQRW,IRT,2018-04-28,REGULAR,3180136,4300151
156006,R245A,R051,01-06-01,59 ST,456NQRW,IRT,2018-04-28,REGULAR,459527,8869

In [418]:
# Number of unique turnstiles
grouped = df.groupby(['SCP', 'STATION'])
group_lst = list(grouped)
len(group_lst)

4179

In [342]:
test10 = df.iloc[0:10]
test10

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 16:00:00,REGULAR,6599175,2236015
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 20:00:00,REGULAR,6599456,2236074
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 00:00:00,REGULAR,6599584,2236102
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 04:00:00,REGULAR,6599593,2236106
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 08:00:00,REGULAR,6599603,2236123
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 12:00:00,REGULAR,6599689,2236180

In [427]:
test_df = df.copy()

In [428]:
test_df.head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 16:00:00,REGULAR,6599175,2236015
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 20:00:00,REGULAR,6599456,2236074
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 00:00:00,REGULAR,6599584,2236102
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 04:00:00,REGULAR,6599593,2236106
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 08:00:00,REGULAR,6599603,2236123
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-29 12:00:00,REGULAR,6599689,2236180

In [429]:
def mta_traffic(data, freq='D'):
    data.ENTRIES = data.ENTRIES - data.shift(1).ENTRIES
    data.EXITS = data.EXITS - data.shift(1).EXITS
    data = data.set_index(['STATION', 'SCP'])[['ENTRIES', 'EXITS', 'DATE']]
    data = data.resample(freq, on='DATE').sum()
    return data

In [430]:
test_df = test_df.groupby(['STATION', 'SCP']).apply(mta_traffic)

In [431]:
test_df['TOTALS'] = test_df['ENTRIES'] + test_df['EXITS']

In [447]:
print('Maximum TOTALS value:', test_df['TOTALS'].nlargest(100))
print('Minimum TOTALS value:', test_df['TOTALS'].nsmallest(100))

Maximum TOTALS value: STATION          SCP       DATE
42 ST-PORT AUTH  01-00-01  2018-04-28    3.697593e+09
23 ST            02-00-00  2018-04-28    3.538748e+09
TIMES SQ-42 ST   01-00-01  2018-04-28    3.314935e+09
28 ST            00-00-01  2018-04-28    3.295742e+09
190 ST           00-00-00  2018-06-10    3.267540e+09
125 ST           00-00-03  2018-05-26    2.831954e+09
86 ST            01-00-04  2018-04-28    2.782875e+09
DEKALB AV        00-06-00  2018-04-28    2.780210e+09
COURT SQ         02-00-03  2018-05-22    2.748138e+09
                 02-00-04  2018-05-07    2.746179e+09
14 ST            00-00-00  2018-04-28    2.726986e+09
3 AV-149 ST      00-00-00  2018-06-07    2.723993e+09
                 00-00-03  2018-06-07    2.661137e+09
225 ST           00-00-01  2018-05-13    2.617388e+09
42 ST-PORT AUTH  00-00-05  2018-04-28    2.456933e+09
FRANKLIN AV      00-00-00  2018-04-28    2.325853e+09
BOWLING GREEN    00-00-00  2018-04-28    2.128629e+09
145 ST           01-00-01  2018-04-28    2.079938e+09
TIMES SQ-42 ST   00-00-01  2018-04-28    2.030658e+09
183 ST           00-00-03  2018-06-04    1.971986e+09
23 ST            00-00-00  2018-04-28    1.807083e+09
59 ST            00-03-02  2018-04-28    1.768867e+09
125 ST           00-00-00  2018-04-28    1.765923e+09
GRD CNTRL-42 ST  00-00-00  2018-04-28    1.703418e+09
183 ST           00-00-02  2018-05-18    1.687877e+09
GRAND ST         00-00-02  2018-04-28    1.641009e+09
CHAMBERS ST      02-00-00  2018-04-28    1.510559e+09
42 ST-PORT AUTH  00-00-01  2018-04-28    1.443590e+09
59 ST            00-00-00  2018-04-28    1.413064e+09
170 ST           00-00-01  2018-04-28    1.382360e+09
                                             ...
149/GRAND CONC   00-00-00  2018-05-15    2.165665e+07
8 AV             00-00-02  2018-04-28    2.121390e+07
FORDHAM RD       00-03-01  2018-04-28    2.104737e+07
23 ST            00-00-01  2018-04-28    2.003362e+07
8 AV             00-00-01  2018-04-28    1.962411e+07
METROPOLITAN AV  00-00-02  2018-04-28    1.916360e+07
111 ST           00-00-00  2018-04-28    1.805358e+07
CHRISTOPHER ST   00-00-02  2018-04-28    1.708884e+07
KINGSBRIDGE RD   00-00-02  2018-04-28    1.673640e+07
GRD CNTRL-42 ST  00-03-03  2018-04-28    1.668796e+07
34 ST-HERALD SQ  00-00-02  2018-04-28    1.643240e+07
SPRING ST        00-00-01  2018-04-28    1.621104e+07
GRD CNTRL-42 ST  00-03-02  2018-04-28    1.619976e+07
FORDHAM RD       00-00-01  2018-04-28    1.618346e+07
59 ST            00-03-01  2018-04-28    1.615013e+07
GRD CNTRL-42 ST  00-00-05  2018-04-28    1.599735e+07
59 ST            00-03-00  2018-04-28    1.513289e+07
111 ST           00-00-01  2018-04-28    1.498317e+07
FULTON ST        03-00-00  2018-04-28    1.474353e+07
72 ST            00-00-00  2018-04-28    1.464317e+07
WOODHAVEN BLVD   01-06-00  2018-04-28    1.455962e+07
GRD CNTRL-42 ST  00-03-01  2018-04-28    1.435530e+07
96 ST            00-00-01  2018-04-28    1.417298e+07
34 ST-PENN STA   00-00-02  2018-04-28    1.411788e+07
BOWLING GREEN    00-00-02  2018-04-28    1.389607e+07
18 AV            00-00-02  2018-04-28    1.368516e+07
KINGSBRIDGE RD   00-00-00  2018-04-28    1.368398e+07
103 ST           00-03-02  2018-04-28    1.354763e+07
HALSEY ST        00-00-02  2018-04-28    1.324794e+07
CHAMBERS ST      02-00-02  2018-04-28    1.323236e+07
Name: TOTALS, Length: 100, dtype: float64
Minimum TOTALS value: STATION          SCP       DATE
14 ST            01-03-00  2018-04-28   -3.284750e+09
104 ST           00-00-01  2018-04-28   -3.028045e+09
116 ST           01-00-02  2018-04-28   -2.893270e+09
125 ST           00-00-03  2018-05-29   -2.831991e+09
COURT SQ         02-00-04  2018-05-22   -2.746705e+09
59 ST            00-00-02  2018-04-28   -2.728554e+09
104 ST           00-00-02  2018-04-28   -2.644151e+09
167 ST           00-00-02  2018-04-28   -2.612017e+09
DEKALB AV        00-00-01  2018-04-28   -2.541909e+09
LEXINGTON AV/53  00-03-00  2018-04-28   -2.539244e+09
FULTON ST        03-03-01  2018-04-28   -1.844511e+09
BROOKLYN BRIDGE  00-03-04  2018-04-29   -1.242051e+09
KINGS HWY        01-06-00  2018-04-28   -1.073296e+09
CANAL ST         00-00-00  2018-04-28   -8.239821e+08
                 00-00-01  2018-04-28   -7.813550e+08
23 ST            00-00-03  2018-04-28   -6.529524e+08
SIMPSON ST       01-00-00  2018-06-07   -5.515397e+08
BROOKLYN BRIDGE  00-03-04  2018-05-03   -5.396096e+08
SPRING ST        00-00-02  2018-04-28   -4.113604e+08
116 ST           01-00-01  2018-04-28   -4.037347e+08
                 01-00-00  2018-04-28   -3.325780e+08
47-50 STS ROCK   01-06-01  2018-05-13   -2.519358e+08
BRONX PARK EAST  00-00-02  2018-05-29   -1.504714e+08
JAY ST-METROTEC  01-05-00  2018-04-28   -1.342163e+08
BROOKLYN BRIDGE  00-03-04  2018-05-05   -1.337027e+08
AVENUE U         00-05-00  2018-05-12   -1.006634e+08
PARK PLACE       00-06-00  2018-05-07   -1.003401e+08
42 ST-PORT AUTH  00-05-00  2018-04-28   -8.698368e+07
23 ST            01-06-01  2018-04-28   -8.399942e+07
AVENUE U         00-05-01  2018-05-12   -8.388613e+07
                                             ...
LEXINGTON AV/53  00-03-03  2018-04-28   -1.680585e+07
23 ST            02-06-00  2018-04-28   -1.676846e+07
WALL ST          00-03-00  2018-04-28   -1.644223e+07
                 02-00-01  2018-04-28   -1.598609e+07
86 ST            00-03-00  2018-05-01   -1.554481e+07
125 ST           00-00-01  2018-04-28   -1.551344e+07
181 ST           00-00-00  2018-04-28   -1.539282e+07
BAY PKWY         00-00-02  2018-04-28   -1.504446e+07
181 ST           00-00-02  2018-04-28   -1.503003e+07
CANAL ST         00-00-02  2018-04-28   -1.447159e+07
WALL ST          00-03-01  2018-04-28   -1.382222e+07
42 ST-PORT AUTH  01-03-00  2018-04-28   -1.380060e+07
JAY ST-METROTEC  00-00-00  2018-04-28   -1.379041e+07
59 ST            01-06-01  2018-04-28   -1.368073e+07
36 ST            00-00-02  2018-04-28   -1.342840e+07
WALL ST          00-00-02  2018-04-28   -1.332182e+07
145 ST           00-00-02  2018-04-28   -1.296102e+07
FLUSHING AV      00-00-01  2018-04-28   -1.280604e+07
72 ST            00-00-02  2018-04-28   -1.276921e+07
34 ST-PENN STA   00-03-04  2018-04-28   -1.245946e+07
FULTON ST        00-00-02  2018-04-28   -1.222970e+07
23 ST            00-00-04  2018-04-28   -1.218934e+07
103 ST           00-03-00  2018-04-28   -1.206554e+07
VAN SICLEN AV    00-00-02  2018-04-28   -1.185690e+07
225 ST           00-00-02  2018-05-08   -1.175611e+07
GRD CNTRL-42 ST  00-00-03  2018-04-28   -1.171862e+07
125 ST           00-00-03  2018-04-28   -1.162394e+07
103 ST           00-00-01  2018-04-28   -1.111074e+07
KINGS HWY        01-06-01  2018-04-28   -1.072197e+07
104 ST           00-00-00  2018-04-28   -1.071007e+07
Name: TOTALS, Length: 100, dtype: float64

In [452]:
traffic_test = df.copy()

In [455]:
traffic_month = traffic_test.groupby(['STATION', 'SCP']).apply(mta_traffic, freq='Y')

In [456]:
traffic_month['ENTRIES'].nlargest(10)

STATION          SCP       DATE
COURT SQ         02-00-03  2018-12-31    2.066518e+09
42 ST-PORT AUTH  01-00-01  2018-12-31    2.018843e+09
23 ST            02-00-00  2018-12-31    1.996458e+09
3 AV-149 ST      00-00-03  2018-12-31    1.953766e+09
225 ST           00-00-01  2018-12-31    1.940680e+09
DEKALB AV        00-06-00  2018-12-31    1.924338e+09
TIMES SQ-42 ST   01-00-01  2018-12-31    1.890028e+09
                 00-00-01  2018-12-31    1.713761e+09
183 ST           00-00-03  2018-12-31    1.570975e+09
42 ST-PORT AUTH  00-00-05  2018-12-31    1.541294e+09
Name: ENTRIES, dtype: float64

In [457]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 00:00:00,REGULAR,6598847,2235829
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 04:00:00,REGULAR,6598864,2235830
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 08:00:00,REGULAR,6598880,2235863
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 12:00:00,REGULAR,6598961,2235955
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2018-04-28 16:00:00,REGULAR,6599175,2236015

In [458]:
def mta_traffic_v2(data):
    data.ENTRIES = data.ENTRIES - data.shift(1).ENTRIES
    data.EXITS = data.EXITS - data.shift(1).EXITS
    data = data.set_index(['STATION', 'SCP', 'LINENAME', 'UNIT'])[['ENTRIES', 'EXITS', 'DATE']]
    data = data.resample(freq, on='DATE').sum()
    return data

In [459]:
traffic_new = traffic_test.groupby(['STATION', 'SCP', 'LINENAME', 'UNIT']).apply(mta_traffic)